<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efix.tude">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_tude"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_tude_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TUDE">
        <activity android:name=".guide.HomeGuideActivity"></activity>
        <activity android:name=".guide.StatusDaftarGuideActivity" />
        <activity android:name=".auth.RegisterGuideActivity" />
        <activity android:name=".user.DetailStatusPesananActivity" />
        <activity android:name=".user.KomentarUserActivity" />
        <activity android:name=".admin.ViewGuideActivity" />
        <activity
            android:name=".user.StatusTransaksiActivity"
            android:theme="@style/Theme.AUTH" />
        <activity android:name=".admin.TransaksiAdminActivity" />
        <activity
            android:name=".user.InputTransaksiActivity"
            android:theme="@style/Theme.AUTH" />
        <activity android:name=".admin.AddGuideActivity" />
        <activity android:name=".admin.AdminMenuActivity" />
        <activity android:name=".user.UserMenuActivity" />
        <activity
            android:name=".auth.RegisterActivity"
            android:theme="@style/Theme.AUTH" />
        <activity
            android:name=".auth.LoginActivity"
            android:theme="@style/Theme.AUTH" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/Theme.NOACTION">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>